
@font-face {
  font-family: fenix;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/bpg_ingiri_arial.ttf');
}


@font-face
{
  font-family: din;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/BPGnp.ttf');
}


@font-face
{
  font-family: street;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/bpg_ingiri_arial.ttf');
}


@font-face
{
  font-family: skia;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/bpg_ingiri_arial.ttf');
}


@font-face
{
  font-family: mercury;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/bpg_ingiri_arial.ttf');
}

