
@font-face {
  font-family: fenix;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/bpg_ingiri_arial.ttf');
}


@font-face
{
  font-family: din;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/BPGnp.ttf');
}


@font-face
{
  font-family: street;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/bpg_ingiri_arial.ttf');
}


@font-face
{
  font-family: skia;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/bpg_ingiri_arial.ttf');
}


@font-face
{
  font-family: mercury;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/bpg_ingiri_arial.ttf');
}

@font-face
{
  font-family: bgp_italic;
  font-style: italic;
  font-weight: normal;
  src: url('/assets/bpg_phone_sans_italic.ttf');
}

.dataTables_info{
  font-family: bgp_italic;
  line-height: 1.5;
  font-size: 11px;
}
