/*
fonts:
headings - DIN Medium
Italic font - Street italic
Subtitles and some another texts :D - Skia Regular
content - Mercury Regular, Fenix
---
for headings BPG NP
for another text - BPG Ingiri Arial
for italic text - BPG Phone Sans Italic
*/

@font-face {
  font-family: fenix;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/Skia Regular.ttf');
}


@font-face
{
  font-family: din;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/DIN Medium.ttf');
}


@font-face
{
  font-family: street;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/STREETI.ttf');
}


@font-face
{
  font-family: skia;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/Skia Regular.ttf');
}


@font-face
{
  font-family: mercury;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/Skia Regular.ttf');
}

