<div class="row">
  <div class="span6">
    <div id="chart_top_fnames" style="min-width: 300px; height: 300px; margin: 20px auto"></div>
  </div>
  <div class="span6">
    <div id="chart_top_lnames" style="min-width: 300px; height: 300px; margin: 20px auto"></div>
  </div>
</div>

<div id="chart_age_population" style="min-width: 400px; height: 400px; margin: 20px auto"></div>
