<div class="row">
  <div class="span6">
    <div id="chart_top_fnames"></div>
  </div>
  <div class="span6">
    <div id="chart_top_lnames"></div>
  </div>
</div>

<div id="chart_age_population"></div>
