<table id="name_districts_datatable" class="display table table-striped table-bordered" data-source="<%= search_url(format: "json") %>">
  <thead>
    <tr>
<!--
      <th>Name</th>
      <th>Name English</th>

      <th>Name</th>
      <th>Rank</th>
      <th>Count</th>

      <th>Birth Year</th>
      <th>Age</th>
      <th>Rank</th>
      <th>Count</th>

-->

      <th>First Name</th>
      <th>Rank</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
