<table id="district_names_datatable" class="display table table-striped table-bordered" data-source="<%= search_url(format: "json") %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Name English</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>