#map_container {
  background: #ffecbd;
  position: relative;

  #map_title{
    h3{
      text-align: center;
      color: #d95b43;
    }
    h4{
      text-align: center;
      color: #000;
    }
  }

  #map_svg_container{
    #map_districts{
      float: left;
      width: 960px;
      svg#svg_map {
        width: 960px;
        height: 500px;

        text {
          font-size: 26px;
        }
        text.sub_title {
          font-size: 20px;
        }

        #district path {
          stroke: #ffecbd;
          stroke-width: 1px;
          &:hover {
            fill: #ffecbd;
            stroke: #bf352b;
            stroke-width: 1px;
            cursor: pointer;
          }
        }
      }
    }
    #map_district_popouts{
      float: left;
      width: 370px;
      position: relative;

      & > div{
        font-size: 20px;
        font-weight: bold;
        position:absolute; 
      }

      #popout_tbilisi{
        top: 109px;
        margin-left: 280px;
      }

      #popout_rustavi{
        top: 256px;
        margin-left: 115px;
      }

      #popout_kutaisi{
        top: 256px;
        margin-left: 325px;
      }

      #popout_batumi{
        top: 400px;
        margin-left: 110px;
      }

      #popout_poti{
        top: 400px;
        margin-left: 330px;
      }

      svg#svg_map_popouts {
        width: 500px;
        height: 500px;

        text {
          font-size: 26px;
        }
        text.sub_title {
          font-size: 20px;
        }

        #district_popouts path {
          stroke: #ffecbd;
          stroke-width: 1px;
          &:hover {
            fill: #ffecbd;
            stroke: #bf352b;
            stroke-width: 1px;
            cursor: pointer;
          }
        }
      }
    }
  }

  #map_legend {
    position:absolute; 
    top: 225px; 
    left: 100px; 
    width: 150px;
    h3{
      font-size: 20px;
      font-weight: bold;
    }
    li{
      line-height: 1.5;
      span {
        display: inline-block;
        width: 15px;
        height: 15px;
        vertical-align: middle;
        margin-right: 3px;
      }
    }
  }
  #map_info_box {
    position:absolute; 
    top: 150px; 
    left: 675px; 
    width: 175px; 
    padding: 5px 10px;
    background-color: #d8c49c;
    li {
      line-height: 1.5;
    }
  }
}





.rq1 {
  background-color: #bf352b;
  fill: #bf352b;
}

.rq2 {
  background-color: #cc4b3a;
  fill: #cc4b3a;
}

.rq3 {
  background-color: #d95b43;
  fill: #d95b43;
}

.rq4 {
  background-color: #df7155;
  fill: #df7155;
}

.rq5 {
  background-color: #e48768;
  fill: #e48768;
}

.rq6 {
  background-color: #ea9c7a;
  fill: #ea9c7a;
}

.rq7 {
  background-color: #f0b28c;
  fill: #f0b28c;
}

.rq8 {
  background-color: #f0b28c;
  fill: #f0b28c;
}

.rank_nodata {
  background-color: #f4dfb0;
  fill: #f4dfb0;
}



.rq1\.5 {
  background-color: #08306B;
  fill: #08306B;
}

.rq2\.5 {
  background-color: #08519C;
  fill: #08519C;
}

.rq7\.5 {
  background-color: #DEEBF7;
  fill: #DEEBF7;
}

.rq8\.5 {
  background-color: #F7FBFF;
  fill: #F7FBFF;
}


/* map districts full size = 1433 x 746 */
/* map district popouts full size = 369.5 x 485.5 */
@media (max-width: 1530px) {
  #map_container {
    #map_svg_container{
      #map_districts{
        width: 716.5px;
        svg#svg_map {
          width: 716.5px;
          height: 373px;
        }
      }
      #map_district_popouts{
        width: 247.5px;
        svg#svg_map_popouts {
          width: 247.5px;
          height: 325px;
        }
        #popout_tbilisi{
          top: 73px;
          margin-left: 188px;
        }

        #popout_rustavi{
          top: 172px;
          margin-left: 77px;
        }

        #popout_kutaisi{
          top: 172px;
          margin-left: 218px;
        }

        #popout_batumi{
          top: 268px;
          margin-left: 74px;
        }

        #popout_poti{
          top: 268px;
          margin-left: 221px;
        }
      }
    }
    #map_legend {
      top: 155px;
      left: 60px;
    }
    #map_info_box {
      top: 125px;
      left: 500px;
    }
  }
}

@media (max-width: 1115px) {
  #map_container {
    #map_svg_container{
      #map_districts{
        width: 473px;
        svg#svg_map {
          width: 473px;
          height: 246px;
        }
      }
      #map_district_popouts{
        width: 185px;
        svg#svg_map_popouts {
          width: 185px;
          height: 243px;
        }
        & > div{
          font-size: 18px;
        }
        #popout_tbilisi{
          top: 55px;
          margin-left: 140px;
        }

        #popout_rustavi{
          top: 128px;
          margin-left: 58px;
        }

        #popout_kutaisi{
          top: 128px;
          margin-left: 163px;
        }

        #popout_batumi{
          top: 200px;
          margin-left: 55px;
        }

        #popout_poti{
          top: 200px;
          margin-left: 165px;
        }
      }
    }
    #map_legend {
      top: 110px;
      left: 33px;
      h3{
        font-size: 18px;
        font-weight: bold;
      }
      li{
        font-size: 11px;
        span {
          width: 10px;
          height: 10px;
        }
      }
    }
    #map_info_box {
      top: 90px;
      left: 340px;
      width: 150px;
    }
  }
}


